# Folders
env*/
.idea/
__pycache__/

# Installation
*egg-info/
dist/
build/

# Profile
*.prof

# Classifier
*.clf

# Data file
*.xlsx
*.csv
*.ods
*.zip

# Latex
*.tex
*.out
*.aux
*.pdf
*.log
*.gz

# Python
*.pyc

# Coverage
.coverage
htmlcov/

# Sphinx
.buildinfo
*.pickle
