# Folders
env/
.idea/
experiment/
__pycache__/

# Installation
*egg-info/
dist/

# Profile
*.prof

# Documentation
#docs/_sources/
#docs/_modules/
docs/.doctrees/
#docs/.buildinfo
#docs/searchindex.js
#docs/objects.inv

# Classifier
*.clf

# Data file
*.xlsx
*.csv
*.ods
*.zip

# Latex
*.tex
*.out
*.aux
*.pdf
*.log
*.gz

# Python
*.pyc

# Coverage
.coverage
htmlcov/

# Other data folders
*.svn/*
data2/
data/ERA/
data/ESL/
data/LEV/
data/SWD/
data/anneal/
data/automobile/
data/balance-scale/
data/bondrate/
data/breast/
data/car/
data/card/
data/contact-lenses/
data/ecoli/
data/eucalyptus/
data/glass/
data/haberman/
data/hepatitis/
data/jain/
data/lymph/
data/olivas/
data/pasture/
data/pathbased/
data/puri/
data/roles/
data/roles3/
data/saureus4/
data/segmentation/
data/spheres/
data/spiral/
data/squash-stored/
data/squash-unstored/
data/tae/
data/tere/
data/tere2/
data/toy/
data/v2-olivasv2/
data/vehicle/
data/winequality-red/
data/zoo/
