# Folders
env/
.idea/
experiment/
__pycache__/

# Installation
*egg-info/
dist/
build/


# Profile
*.prof

# Documentation
#docs/_sources/
#docs/_modules/
docs/.doctrees/
#docs/.buildinfo
#docs/searchindex.js
#docs/objects.inv

# Classifier
*.clf

# Data file
*.xlsx
*.csv
*.ods
*.zip

# Latex
*.tex
*.out
*.aux
*.pdf
*.log
*.gz

# Python
*.pyc

# Coverage
.coverage
htmlcov/

# Other data folders
*.svn/*
data*
