alabaster
Babel
bleach
certifi
chardet
coverage
coveralls
cycler
decorator
docopt
docutils
entrypoints
html5lib
idna
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nose
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
pkg-resources
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
scikit-learn
scipy
simplegeneric
six
sklearn
snakeviz
snowballstemmer
Sphinx
sphinxcontrib-websupport
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
